<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myrelrec.myappl.jp.mytelrec">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--android.permission.RECORD_AUDIO         オーディオの録音（マイク）-->
    <!--android.permission.READ_PHONE_STATE     携帯のステータスとIDの読み取り : [Dangerous]-->
    <!--android.permission.PROCESS_OUTGOING_CALLS   発信を管理（番号変更とか切ってしまうとか）、、→これはいらないだろう。-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!--電話帳にアクセスしてみる-->

    <!--startBluetoothSco()に必要（だった）。オーディオ切り替え（？）-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--Bluetoothの状態取得-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--
    label : applicationタグで指定するものは、アプリ全体のラベル
            activityタグで指定するものは、activityのラベル
    icon :  applicationで指定するものは？？？
            activityで指定するものは？？？
            追加コメントしたのは、LUCE（android4.4）で開発していると出ていたアイコンが MOTO G5S PLUS（android7.1）に機種変更すると出なくなった。
            applicationタグでアイコンを指定しても出なくなって、activityタグで指定すると出た。いい加減にしてほしい。
    -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_telrec"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <service android:name=".TelRecService"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_telrec"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- https://developer.android.com/guide/components/broadcasts -->
        <!-- android.intent.action.PHONE_STATE          電話のステータス（待ち受け／呼び出し／話し中）-->
        <!-- android.intent.action.NEW_OUTGOING_CALL    発信の際の電話番号取得に必要（？）-->
<!--
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
-->

    </application>

</manifest>